<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
<script src="../static/js/passwordCheck.js" th:src="@{/js/passwordCheck.js}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Home</title>

</head>
<body>
	<header th:insert="fragments/header.html :: page-header"></header>
	
	<div th:insert="fragments/nav.html :: page-nav"></div>

	<section >
		
		<div class ="flex-container" th:if ="${user}">
		
			<form name="form" action="#" th:action="@{|/updateUser/${user.id}|}" method="post" onsubmit="return checkPasswords()" >
				<h1 id="error"></h1>
				<div th:if="${message}" align="center">
					<h1 th:text="${message}"></h1>
				</div>
				<h1>Username:</h1><input type ="text" name ="username" th:value="${user.username}"/>
				<h1>Email:</h1><input type ="email" name ="email" th:value="${user.email}"/>
				
				<h1>Change Password</h1><p><input type ="password" name ="password" placeholder="Enter New Password"/></p>
				<input type ="password" name ="confirmPassword" placeholder="Confirm New Password"/>
				
				<p><input type="submit" value ="Update Account"></p>
				<!-- <h1>Manage Account</h1> future feature-->
			</form>
		</div>
	</section>
</body>
<div th:insert="fragments/footer.html :: page-footer"></div>
</html>