<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Permission Denied</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header th:insert="fragments/header.html :: page-header"></header>
	<div th:insert="fragments/nav.html :: page-nav"></div>
	<section>
		<h2>Permission denied</h2>
		<p>Your do not have access to this area</p>
		<h2>Authenticate <a href="#" th:href="@{/login}">here</a></h2>
	</section>
</body>
<div th:insert="fragments/footer.html :: page-footer"></div>
</html>