<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>

</head>
<body>
	<header>
		<div class ="background"></div>
		<div sec:authorize="hasAnyRole('USER','MANAGER')">
			<h1 th:text="|Welcome to the Library Database ${userName}|">Welcome!</h1>
			<form action="#" th:action="@{/logout}" method="post"
				style="border: none;">
				<input type="submit" value="Logout" class="top-right">
			</form>
		</div>

		<div sec:authorize="hasRole('ROLE_MANAGER')">
			<h2>
				<span><a href="#" th:href="@{/admin/addPage}">Add a Book</a></span>
			</h2>
		</div>

		<div th:unless="${roles}">
			<h1>Welcome to the Library Database</h1>
			<h2>
				<span><a href="#" th:href="@{/login}">Login</a></span>
			</h2>
		</div>

		<div th:if="${message}" class="error">
			<p th:text="${message}" />
		</div>
		
	</header>

	<div th:if="${books.empty}">
		<h2 th:text="|There are no books!|">The database is empty!</h2>
	</div>

	<div th:unless="${books.empty}">

		<section class ="flex-container">
			<div class ="flex-container2" th:each="book : ${books}">
				<p><a href ="" th:href="@{/viewBook/} + ${book.id}"><img class ="book-cover" th:src="@{${book.img}}"></a></p>
				<div class ="book-details">
					<p>
					<div class ="twoline"><h3 th:text="${book.title}"></h3></div>
						<p class="oneline" th:text="|By: ${book.author}|"></p>
						<div class ="starcontainer">
							<p th:text="|${book.aveStars} stars|">jonny937</p>
							<img src ="/img/stars.png">
							<div class ="starbar" th:style="|width: calc(20% * ${book.aveStars})|"></div>
						</div></p>
				</div>
			</div>
		</section>
		<!-- <table CELLSPACING=0>

			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Reviews</th>
			</tr>

			<tr th:each="book : ${books}">
				<td><h3 th:text="${book.title}">Kill Iron Man</h3></td>
				<td><h3 th:text="${book.Author}">Armored Suit</h3></td>
				<td class ="starcontainer">
				<h3><a href=""  th:href="@{/viewBook/} + ${book.id}">view</a></h3>
				<h3 th:text="|${book.aveStars} stars|">5 stars</h3>
				<img src ="/img/stars.png">
				<div class ="starbar" th:style="|width: calc(20% * ${book.aveStars})|">
				</div>
				
				
			</tr>
		</table> -->
	</div>
</body>
</html>