<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Log In</title>

</head>
<body>
	<header th:insert="fragments/header.html :: page-header"></header>
	
	<div th:insert="fragments/nav.html :: page-nav"></div>
	
	<section class ="flex-container">
		
		<form action="#" th:action="@{/login}" method="post" >
			<div th:if="${param.logout}" class="error">
				<h1>You are now logged out</h1>
			</div>
			<div th:if="${param.error}" class="error">
				<h1>Invalid username or password</h1>
			</div>
			<div th:if="${message}" class="error">
				<h1 th:text="${message}"></h1>
			</div>
			<p>
				<input type="text" name="username" placeholder="Enter Username or Email"required />
			</p>
			<p>
				<input type="password" name="password" placeholder=" Enter Password"required />
			</p>
			<input type="submit" value="login">
			<h1>Not a member?</h1>
			<h2><a href="/register">Register Here</a></h2>
			<h1>forgot your password?</h1><h2><a href="/recover-account">Recover Now</a></h2>
		</form>
	</section>
</body>
<div th:insert="fragments/footer.html :: page-footer"></div>
</html>