<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>

</head>

<body>
	<header th:insert="fragments/header.html :: page-header"></header>
	
	<div th:insert="fragments/nav.html :: page-nav"></div>
	
	<section class ="flex-container">
		
		<form name="form" action="#" th:action="@{/addUser}" method="post">
			<div th:if="${message}" class="error">
				<h1 th:text="${message}" ></h1>
			</div>
			<p>
				<input type="text" name="userName" placeholder="Enter Username" required />
			</p>
			<p>
				<input type="password" name="password" placeholder="Enter Password" required />
			</p>
			<p>
				<input type="email" name="email" placeholder="johndoe@example.ca" required />
			</p>
			<input type="checkbox" style="visibility: hidden;" name="authorities"
				th:value="${userAuthority}" th:id="${authority}" class="top-right"
				checked />
			<p>
				<input type="submit" value="Register">
			</p>
		</form>
	</section>
</body>
<div th:insert="fragments/footer.html :: page-footer"></div>
</html>