<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/viewBook.css">
<title>Reviews!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
</head>

<body>
	<header>
		<img src="/img/elibrary.png">
		<div class ="background"></div>
		
		<h2 class ="top-left"><a onclick="goBack()">Go Back</a></h2>
		<div sec:authorize="hasAnyRole('USER','MANAGER')">
			<h2 class="top-right"><a href="/logout">Logout</a></h2>
		</div>
			<div th:unless="${userName}" class="top-right">
			<h2><a href="#" th:href="@{/login}">Login</a></h2>
			<h2><a href="#" th:href="@{/register}">Sign Up</a></h2>
		</div>
	</header>
	<div th:if="${message}" class="error">
		<p th:text="${message}" />
	</div>
	<nav class ="topnav" id ="myTopnav">
		<span><a class = "homenav" href ="/"><div>Browse</div></a></span>
		<a href ="/user/myBooks">MyBooks</a>
		<a href ="/user/account">Account</a>
		<a sec:authorize="hasRole('ROLE_MANAGER')" href="#" th:href="@{/admin/addPage}">
			Add a Book
		</a>
		<div class ="search-container">
			<form action="/search">
				
				<input type="text" placeholder="Search.." name="search">
				
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>
		</div>
		<a class ="icon"  href="javascript:void(0);" onclick="hamburger()">
			<i class ="fa fa-bars"></i>
		</a>
	</nav>
	
	<section>
		<p>
			<div class="top-right" sec:authorize="hasAnyRole('USER','MANAGER')">
				<div th:if="${favourited}" class ="flex-container">
					<p>favourited</p> 
					<p><div class="favourite">
						<div class ="favourited"></div>
						<a href ="#" th:href="@{/deleteMyBooks/} +${book.id}" class="favourite">
							<img src ="/img/favourite-star.png">
						</a>
					</div></p>
				</div>
				<div th:unless="${favourited}" class ="flex-container">
					<p>favourite</p> 
					<a href ="#" th:href="@{/addMyBooks/} +${book.id}" class="favourite">
						<img src ="/img/favourite-star.png">
					</a>
				</div>
			</div>
		</p>
	<div class ="view-flex-container">
		<div class ="flex-container2" >
			<div>
				<img class ="book-cover" th:src="@{${book.img}}">
				<h2><a href="#" th:href="@{/user/addReview/} +${book.id}">Add Review</a></h2>
			</div>
			<div class ="book-details">
				<p>
				<h3 th:text="${book.title}"></h3>
					<p th:text="|By: ${book.author}|"></p>
					<div class ="starcontainer">
						<p th:text="|${book.aveStars} stars|">jonny937</p>
						<img src ="/img/stars.png">
						<div class ="starbar" th:style="|width: calc(20% * ${book.aveStars})|"></div>
					</div></p>
			</div>
		</div>

		<div class ="description">
			<p th:text ="${book.description}">follows the journey of Brian the snail, an adventure you'll never forget</p>
		</div>
		</div>
	</section>
	<div th:if="${reviews.empty}">
		<h1>There are no reviews!</h1>
	</div>
	<div th:unless="${reviews.empty}">
		<section class ="flex-container">
			<div th:each="review : ${reviews}" class="review-container">
				<div class ="starcontainer" >
					<img src ="/img/stars.png">
					<div class ="starbar" th:style="|width: calc(20% * ${review.stars})|"></div>
				</div>
				<h3 th:text="${review.username}">jonny937</h3>

				<p th:text="${review.text}">it was great</p>
			</div>
		</section>
	</div>

</body>
</html>