<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/viewBook.css">
<title>Reviews!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<div class ="background"></div>
		<div th:if="${reviews.empty}">
			<h1>There are no reviews!</h1>
		</div>
		<div th:unless="${reviews.empty}">
			<h1 th:text="|Reviews for ${book.title}|">Reviews!</h1>
		</div>

		<div th:unless="${userName}">
			<h1>
				Want to leave a review?<span><a href="#" th:href="@{/login}">Login</a></span>
			</h1>
		</div>


		<div sec:authorize="hasAnyRole('USER','MANAGER')">
			<h2>
				<span><a href="#" th:href="@{/user/addReview/} +${book.id}">Add Review</a></span>
			</h2>
			<form action="#" th:action="@{/logout}" method="post"
				style="border: none;">
				<input type="submit" value="Logout" class="top-right">
			</form>
		</div>
		<form style="border: none;">
			<h2>
				<input type="submit" value="Home" class="top-left" formaction="/"
					formmethod="get">
			</h2>
		</form>

	</header>

	<div th:if="${message}" class="error">
		<p th:text="${message}" />
	</div>
	<div class="section-header">Description</div>
	<section class ="view-flex-container">
		
		<div class ="flex-container2" >
			<p><img class ="book-cover" th:src="@{${book.img}}"></p>
			<div class ="book-details">
				<p>
				<h3 th:text="${book.title}"></h3>
					<p th:text="|By: ${book.author}|"></p>
					<div class ="starcontainer">
						<p th:text="|${book.aveStars} stars|">jonny937</p>
						<img src ="/img/stars.png">
						<div class ="starbar" th:style="|width: calc(20% * ${book.aveStars})|"></div>
					</div></p>
			</div>
		</div>

		<div>
			<p th:text ="${book.description}">follows the journey of Brian the snail, an adventure you'll never forget</p>
		</div>
				
		
	</section>
		
		
	
	<div th:unless="${reviews.empty}" class="center-container">
		
		<table CELLSPACING=0>

			<tr>
				<th>Review</th>
				<th>Username</th>
				<th>Rating</th>
			</tr>
		
			<tr th:each="review : ${reviews}">
				<td><p th:text="${review.text}">it was great</p></td>
				<td><h3 th:text="${review.username}">jonny937</h3></td>
				
				<td class ="starcontainer">
				
					<h3 th:text="|${review.stars} stars|">5 stars</h3>
					<img src ="/img/stars.png">
					<div class ="starbar" th:style="|width: calc(20% * ${review.stars})|"></div>
				
				</td>

			</tr>
		</table>
	</div>

</body>
</html>